# New Section

In [2]:
# #Importing Data Analysis Libraries
import pandas as pd
import numpy as np
from tqdm import tqdm
import seaborn as sns

import re
import pickle

# #Importing Natural Language Libraries
import nltk
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from gensim.models import Word2Vec

# # Importing Keras for Word Embedding
from tensorflow.keras.layers import Embedding
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense

#Importing libraries for Modeling 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC


#For finding Accuracy
from sklearn.metrics import confusion_matrix, accuracy_score,classification_report

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.activity.readonly&response_type=code

Enter your authorization code:
4/1AY0e-g7Tu1McNCucBzPtcgYxIuzIyP8pFZcXbND6w8JFcDGPvGmSthbQ7tM
Mounted at /content/drive

In [29]:
df = pd.read_csv("C:/Users/ADITYA/Documents/GitHub/Technocolab Final Project/datasets/final combined file/troll_data.csv")

In [30]:
df.head()

   Unnamed: 0                                            content  troll
0        3670                                                  ðŸ’©      1
1       15401  why would hillary clintonâ€”who holds public and...      0
2        8048  manni syd this is my late son killed by illega...      0
3        6923                                            awesome      1
4       21263  crazy a yr old child who can t pay a small fin...      0

In [31]:
df.isnull().sum()

Unnamed: 0    0
content       0
troll         0
dtype: int64

# Tf-Idf Approach

In [32]:
# Pre-Processing
df['content'] = df['content'].apply(lambda x: x.lower())
# removing special chars
df['content'] = df['content'].apply((lambda x: re.sub('[^a-zA-z0-9\s]','',x)))
df['content'] = df['content'].str.replace('rt','')
df.head()

   Unnamed: 0                                            content  troll
0        3670                                                         1
1       15401  why would hillary clintonwho holds public and ...      0
2        8048  manni syd this is my late son killed by illega...      0
3        6923                                            awesome      1
4       21263  crazy a yr old child who can t pay a small fin...      0

In [ ]:
# tfidf_vectorizer = TfidfVectorizer(ngram_range=(1, 2),max_df=0.75, min_df=5, max_features=10000)
# tfidf = tfidf_vectorizer.fit_transform(df['content'] )
# X=tfidf
# y = df['troll'].astype(int)
# X_train_tfidf, X_test_tfidf, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [33]:
import en_core_web_md
nlp = en_core_web_md.load()

In [34]:
def get_vec(x):
  doc = nlp(x)
  return doc.vector

In [35]:
df['vec'] = df['content'].apply(lambda x: get_vec(x))

In [36]:
XX = df['vec'].to_numpy()
XX = XX.reshape(-1,1)
XX = np.concatenate(np.concatenate(XX,axis = 0),axis = 0).reshape(-1,300)
yy=df['troll']

In [37]:
X_train, X_test, y_train, y_test = train_test_split(XX, yy, random_state=42, test_size=0.2)

In [38]:
clf = RandomForestClassifier()
clf.fit(X_train,y_train)
y_preds = clf.predict(X_test)
report = classification_report( y_test, y_preds )
print(report)
acc=accuracy_score(y_test,y_preds)
print("Random Classifier, Accuracy Score:" , acc)

              precision    recall  f1-score   support

           0       0.88      0.99      0.93      5094
           1       0.91      0.50      0.65      1419

    accuracy                           0.88      6513
   macro avg       0.89      0.75      0.79      6513
weighted avg       0.88      0.88      0.87      6513

Random Classifier, Accuracy Score: 0.8813142944879472

In [39]:
import os
os.getcwd()

'C:\\Users\\ADITYA\\Desktop\\technocolab team c'

In [42]:
import pickle
pickle.dump(clf, open('model11.pkl','wb'))